.sidebar {
  width: 90px;
  height: calc(100vh - 60px);
  position: fixed;
  top: 90px; 
  left: 0;
  background-color: white;
  padding: 8px;
  /* box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1); */
  transition: margin-top 1s ease;
}

.sidebar.small {
  margin-top: -30px;
}

.sidebar a {
  display: inline-block;
  color: #484848;
  text-decoration: none;
  background-color: #f5f5f5; /* Button color */
  padding: 5px 20px; /* Button padding */
  margin-bottom: 10px; /* Space between buttons */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth color transition */
}
.sidebar a:hover {
  background-color: #d0d0d0; /* Darker color on hover */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar-link {
  font-size: 13px;
  background-color: white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  color: #007BFF;
}

.sidebar-icon {

  vertical-align: middle;
}

.home-icon {
  width: 100%;
  height: auto;
}
.about-icon {
  width: 100%;
  height: auto;
  padding-left: 0px;
}
